*{
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box; */
}

.App{
   width: 35vw;
   border: 1px solid red;
   margin: 0px auto;
   position: absolute;
   left: calc((65vw)/2);
}
.App h1{
text-align: center;

}

.in{
  background-color: aqua;
  font-size: 2rem;
  height: 50px;
}
.in input{
  width: 90%;
  height: 50px;
  position: relative;
  top: -5px;
  padding-left: 76px;
  box-sizing: border-box;
 
}
.fa-plus:before {
display: block;

}

.jj{
  margin: 0px auto;
  margin-top: 15px;
  padding: 27px;
  box-sizing: border-box;

  width:80%;

  border: 1px solid green;
  color: brown;
  background-color: aquamarine;
  border-radius: 20px;
  box-shadow: 5px 10px 15px black;
}
#ol{
  width: 30%;
  border: 1px solid black;
  display: inline-block;
  height: 100%;
  text-align: center;
}
.fa-trash-can::before{
 

}
.fa-pen-to-square:before {


}
#mk{
  text-align: center;
  display: inline-block;
}
#hl{
  color: blue;
  text-align: center;
  padding-left: 13px;
}


.z{
  background-color: gray;
}
.m{
  background-color:red ;
}
body{
  /* background-color: brown; */
}
#op{
  width: 60%;
  color: red;
  text-align: center;
  border: 1px solid black;
  display: inline-block;
}
@media screen and (max-width:500px){
  .App{
   width: 100%;
   position: static;
  }
 
}
@media screen and (max-width:300px){
 
 #ol{
display: block;
 }
 #op{
  display: block;
   }
   .in{
 
    height:auto ;
  }
  .in input{
    width: 100%;
 
   
  }

}
@media (min-width:501px) and (max-width:950px) {
 .App{
  width: 70vw;
  left: calc((30vw)/2);
  
 }
 .App h1{
   color: green;
   
   }
}