*{
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box; */
}

.App{
   width: 35%;
   border: 1px solid red;
   margin: 0px auto;
}
.App h1{
text-align: center;

}

.in{
  background-color: aqua;
  font-size: 2rem;
  height: 50px;
}
.in input{
  width: 90%;
  height: 50px;
  position: relative;
  top: -5px;
  padding-left: 76px;
  box-sizing: border-box;
 
}
.fa-plus:before {
  content: "\2b";
  color: blue;
  text-align: center;
  padding-left: 5%;
}

.jj{
  margin-top: 15px;
  padding: 27px;
  box-sizing: border-box;
  text-align: center;
  width:100%;
  height: 80px;
  border: 1px solid green;
  color: brown;
  background-color: aquamarine;
  border-radius: 20px;
  box-shadow: 5px 10px 15px black;
}
.fa-trash-can::before{
position: relative;
left: 687%;
}
.fa-pen-to-square:before {
  position: relative;
left: 530%;
}
#hl{
  color: blue;
  text-align: center;
  padding-left: 13px;
}
@media screen and (max-width:500px){
   .App{
    width: 100%;
   }
}

.z{
  background-color: gray;
}
.m{
  background-color:red ;
}